<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
</head>

<body style="background: #FAFCFC; padding: 0; margin: 0; font-family: Arial; font-size: 100%;">
	<div style="width: 80%; margin: 0 auto; height:100%; background: white; border: 1px solid #DBDBDB; margin-top: 50px; border-radius: 3px">
	
		<div style="padding: 15px 20px;">
			<table style="width:100%;">
				<tr>
					<th>
						<img src="Logo.jpg" style="width:300px;">
					</th>
				</tr>
			</table>	
		</div>
		
		<hr style="color:#131A6E;">
		
		<div style="width:100%; color:#131A6E;">
			<table style="width:100%;">
				<tr>
					<th>
						<h1 style="margin:10px 0 0 0;">
							25% popusta na Blizzcon do kraja meseca!
						</h1>
					</th>
				</tr>

				
					<tr>
						<td>
							<div style="text-align: center; padding-bottom: 20px; color:#3D3F40">
								Danas je super dan!
							</div>
						</td>
					</tr>
				
			</table>
		</div>
		
		<div style="width:100%">
			<table style="width:100%; border-collapse: collapse">
				<tr>
					<th>
						<img src="Slika 1.jpg" style="width:100%;">
					</th>
				</tr>
			</table>
		</div>
		
		<div style="width:100%; color:#131A6E; text-size:100%;">
			<table style="width:100%; text-align:left;">
				<tr>
					<td>
						<div style="padding:20px 30px ">
						<p style="margin:0;"> Potreban vam je poklon, a nemate puno vremena za shopping? </p>
						<p style="margin:0;"> Onda se nalazite na pravom mestu! Do kraja septembra vazi popust na Blizzcon karte!</p>
						<p style="margin:0;"> Sve informacije mozete pogledati na <a href="http://google.com" target="blank"> Blizzcon-u</a>. Kupite kartu danas!  </p>
						</div>
					</td>
				</tr>
			</table>
		</div>
		
		<div style="width:100%">
			<table style="width:100%; border-collapse: collapse;">
					<tr>
						<td style="width:50%;"> <img src="Slika 5.jpg" style="width:100%;"> </td>
						<td style="width:50%;"> <img src="" style="width:100%;"> </td>
					</tr>
			</table>
		</div>


		<div style="padding-right: 40px; padding-top: 20px; text-align: right;">
			<div style="">
				Radionica je na prodaju
			</div>

			<div style="font-size: 70px; color: #131A6E; position: relative;">
				<span style="padding-right: 45px;">50</span> <span style="position:absolute; top:11px; right:0; font-size: 20px">RSD</span>
			</div>
		</div>

		
		<div style="width:100%;">
			<table style="width:100%;">
				<tr>
					<th style="text-align: center;">
						<div style="margin: 20px 5px; display: inline-block; position: relative;">
							<a href="http://www.google.rs" target="_blank">
								<button style=" background-color:#131A6E; border: 2px solid white; border-radius:5px; display:inline-block; height:50px; margin: 0 auto; color:white; font-size: 18px; padding: 10px 25px; cursor:pointer;"> <img src="info.png" width="22" style="position: absolute; left: 18px"><span style="padding-left: 20px;"> Detalji </span> </button>
							</a>
						</div>

						<div style="margin: 20px 5px; display: inline-block; position:relative;">
							<a href="'.$domain.'login/addCart/workshop/00000000" target="_blank">
								<button style=" background-color:#36BD31; border: 2px solid white; border-radius:5px; display:inline-block; height:50px; margin: 0 auto; color:white; font-size: 18px; padding: 10px 25px; cursor:pointer;"> <img src="cart.png" width="22" style="position: absolute; left: 15px"><span style="padding-left: 15px;"> Add to Cart</span></button>
							</a>
						</div>
					</th>
				</tr>
			</table>
		</div>
		
		
		
		<div style="background-color:#F2F2F2; width:100%;">
		<hr style="color:#131A6E;">
			<table style="width:100%" align="center">
				<tr>
					<th>
						<div style="text-align:center; margin-top:5px;">
							<a href="http://facebook.com" target="blank"><img src="Slika 2.png" style="width:30px; margin-right: 5px;"></a>
							<a href="http://facebook.com" target="blank"><img src="Slika 3.png" style="width:30px; margin-right: 5px;"></a>
							<a href="http://facebook.com" target="blank"><img src="Slika 4.png" style="width:30px;"></a>
						</div>
					</th>
				</tr>
			</table>
			
			<table style="width:100%; text-align:center;  font-size:70%">
				<tr>
					<td>
						<p style="margin:0;"> Copyright © Handmade Fantasy World Ltd, All rights reserved. </p>
						<p style="margin:0;"> <a href="http://handmadefantasyworld.com" target="_blank"> handmadefantasyworld.com </a> </p>		

						<br>
						<p style="margin:0;"> Want to change how you receive these emails? </p>
						<p style="margin:0;"> You can <a href="'.$domain.'user/unsubscribe/lidox20/1242" target="blank">unsubscribe from this list</a> </p>
					</td>
				</tr>
			</table>
		</div>
		
	</div>
</body>
</html>