<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
</head>
<body style="background: #FAFCFC; padding: 0; margin: 0; font-family: Arial; font-size: 100%;">
	<div style="width: 70%; margin: 0 auto; height:100%; background: white; border: 1px solid #DBDBDB; margin-top: 50px; border-radius: 3px">
		
		<div style="padding: 15px 20px;">
			<table style="width:100%;">
				<tr>
					<th>
						<img src="Logo.jpg" style="width:300px;">
					</th>
				</tr>
			</table>	
		</div>
		
		<div style="width:100%;">
			<table style="width:100%; text-align:center;">
				<tr>
					<td style="width:45%;" align="center">
						<table>
							<td>
									<h1 style="color:#131A6E; "> Zahtev za promenu lozinke </h1>
							</td>
						</table>
					</td>
					
					
				</tr>
			</table>
		</div>
		
		<hr style="#131A6E">
		
		<div style="color:#131A6E; padding-left:20px; ">
			<table style="width:100%;">
				<tr>
					<td>
						<p style="margin:0;"> Postovani <strong> Marko </strong> , </p>
					</td>
				</tr>
				<tr>
					<td>
						<p style="margin:0;"> Promenu lozinke mozete uciniti pritiskom na dugme. </p>
					</td>
				</tr>
			</table>
		</div>
		
		<div style="color: #131A6E">
			<table style="width:100%; text-align:center;">
				<tr>
					<td>
						<a href="http://www.google.rs" target="_blank">
							<button style="background-color:#131A6E; border: 2px solid white; border-radius:5px; display:inline-block; height:50px; margin: 0 auto; color:white; font-size: 18px; padding: 10px 25px; cursor:pointer;"> Promeni </button>
						</a>
					</td>
				</tr>
				
				<tr>
					<td>
						<p style="font-size:100%"> U slucaju da dugme ne radi, lozinku mozete promeniti <a href="http://www.google.rs" target="_blank">ovde</a>. </p>
					</td>
				</tr>
			</table>
		</div>
		
		<div style="background-color:#F2F2F2; width:100%;">
		<hr style="color:#131A6E;">
			<table style="width:100%; text-align:center;  font-size:70%">
				<tr>
					<td>
						<p style="margin:0;"> Copyright © *donna downey STUDIOS, Ic., All rights reserved. </p>
						<p style="margin:0;"> <a href="http://facebook.com" target="blank"> donnadowney.com </a> </p>
						<br>
						<p style="margin:0;"> Our mailing address is: </p>
						<p style="margin:0;"> 501 S. Old Statesville Rd. </p>
						<p style="margin:0;"> HUNTERSVILLE, NC 28078 </p>
						<br>
						<p style="margin:0;"> Want to change how you receive these emails? </p>
						<p style="margin:0;"> You can <a href="http://facebook.com" target="blank">update your preferences</a> or <a href="http://facebook.com" target="blank">unsubscribe from this list</a> </p>
					</td>
				</tr>
			</table>
		</div>
		
	</div>
</body>
</html>