<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

</head>

<body style="background: #FAFCFC; padding: 0; margin: 0; font-family: Arial; font-size: 100%;">
	<div style="width: 70%; margin: 0 auto; height:100%; background: white; border: 1px solid #DBDBDB; margin-top: 50px; border-radius: 3px">
	
		<div style="padding: 15px 20px;">
			<table style="width:100%;">
				<tr>
					<th>
						<img src="Logo.jpg" style="width:300px;">
					</th>
				</tr>
			</table>	
		</div>
		
		<div style="width:100%;">
			<table style="width:100%; text-align:center;">
				<tr>
					<td style="width:45%;" align="center">
						<table>
							<td>
								<p> <div style="background-color:#12DF78; text-align:center; width:25px; font-size:90%; font-weight:bold; border: 3px solid #12DF78; color:white; border-radius:50%;"> +1 </div> </p>
							</td>
							
							<td>
									<h1 style="color:#131A6E; "> New Review </h1>
							</td>
							
						</table>
					</td>
					
					
				</tr>
			</table>
		</div>
					
		
		
		<div style="background-color:#F2F2F2; height:100px; width:100%; padding:0;">
		<hr style="color:#131A6E;">
			<table style="width:100%; height:100%; text-align:center;">
				<tr>
					<td>
						<img src="ZvezdaPuna.png" style="margin-right:5px;">
						<img src="ZvezdaPuna.png" style="margin-right:5px;">
						<img src="ZvezdaPola.png" style="margin-right:5px;">
						<img src="ZvezdaPrazna.png" style="margin-right:5px;">
						<img src="ZvezdaPrazna.png" style="margin-right:5px;">
					</td>
				</tr>
				<tr>
					<td style="font-size:160%; padding-top: 10px;">
						<div style="padding: 10px 30px; background: #F7F7F7; display:inline-block; border-radius:2px; border: 1px solid #E3E3E3; color:#131A6E; ">3.6</div>
					</td>
				</tr>
			</table>
		</div>
		
		<div style="padding: 20px 100px; color:#131A6E;">
			<table style="width:100%;">
				<tr>
					<td>
						<img src="ol1.jpg" style="height:100px; width:100px; border-radius: 50%">
					</td>
					
					<td style="padding-left:20px;">
						<p style="text-align:left; font-size:100%;">
							Korisnik <strong> Pedja </strong> vam je rekao da ima traktor, ima njivu, u selu glavni je baja. 
							Ako zelite da proverite tu informaciju, mozete to uciniti pritiskom na dugme.
						</p>
					</td>
				</tr>
			</table>
		</div>
		
		<div>
			<table style="width:100%; text-align:center;">
				<tr>
					<td>
						<a href="http://www.google.rs" target="_blank">
							<button style="background-color:#131A6E; border: 2px solid white; border-radius:5px; display:inline-block; height:50px; margin: 0 auto; color:white; font-size: 18px; padding: 10px 25px; cursor:pointer;"> Narucite ovde </button>
						</a>
					</td>
				</tr>
			</table>
		</div>
		
		<div style="background-color:#F2F2F2; width:100%;">
		<hr style="color:#131A6E;">
			<table style="width:100%; text-align:center;  font-size:70%">
				<tr>
					<td>
						<p style="margin:0;"> Copyright © *donna downey STUDIOS, Ic., All rights reserved. </p>
						<p style="margin:0;"> <a href="http://facebook.com" target="blank"> donnadowney.com </a> </p>
						<br>
						<p style="margin:0;"> Our mailing address is: </p>
						<p style="margin:0;"> 501 S. Old Statesville Rd. </p>
						<p style="margin:0;"> HUNTERSVILLE, NC 28078 </p>
						<br>
						<p style="margin:0;"> Want to change how you receive these emails? </p>
						<p style="margin:0;"> You can <a href="http://facebook.com" target="blank">update your preferences</a> or <a href="http://facebook.com" target="blank">unsubscribe from this list</a> </p>
					</td>
				</tr>
			</table>
		</div>
		
		
	</div>
</body>
</html>